# Ignoring Rowan's content
3dscanner
baja
creativeapproaches
doublethread
flashlight
laserangle
mechproto1
mechproto2
otherprojects
pov
relayboard
siren
tacksensor
404.html
robots.txt
_site
.jekyll-cache/
prefs