<!-- Header -->
{% if page.banner-img %}
<header style="background-image: url({{ page.banner-img }}); background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- <img class="img-responsive" src="/img/profile.png" alt="profile-pic" /> -->
        <div class="intro-text">
          <span class="name">{{ page.title }}</span>
          <!-- <hr class="star-light" /> -->
          <!-- <span class="skills">{{ page.description }}</span> -->
        </div>
      </div>
    </div>
  </div>
</header>
{% elsif page.banner-color %}
<header style="background-color: #{{ page.banner-color }};">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- <img class="img-responsive" src="/img/profile.png" alt="profile-pic" /> -->
        <div class="intro-text">
          <span class="name">{{ page.title }}</span>
          <!-- <hr class="star-light" /> -->
          <!-- <span class="skills">{{ page.description }}</span> -->
        </div>
      </div>
    </div>
  </div>
</header>
{% else %}
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- <img class="img-responsive" src="/img/profile.png" alt="profile-pic" /> -->
        <div class="intro-text">
          <span class="name">{{ page.title }}</span>
          <!-- <hr class="star-light" /> -->
          <!-- <span class="skills">{{ page.description }}</span> -->
        </div>
      </div>
    </div>
  </div>
</header>
{% endif %}
