<!-- ###### STATUS ######## -->
 <!-- 
- changed modal in w3 to w3-modal... who knows what's being inherited in these modals. That also definitely broke the regular art page, so beware.
- also added main.css to head_gallery.html, so beware of that too. ^^
 - got the slide nums to update, but the slides length is very incorrect (default 144?)
 - need to get pictures to show up when modal opens. Dunno how to do that yet. (search "xxx") 
 - eventually I'll need to update this so the modals are made from project folders. Suspect it will require setting the folder location in the page.md
 -->


<!-- Portfolio Modals -->
{% for post in site.posts %}
<!-- ======================= NEW MODAL ========================== -->
<div class="portfolio-modal modal fade" id="galleryModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> <!-- xxx trying show slides here -->
            <h2>{{ post.title }}</h2>
            <row>
              <p>
                <!-- ============== IMAGE NAVIGATION ================== -->
                  <a onclick="updateSlide(-1)">&lt&ltprev</a>
                  &nbsp;&nbsp;&nbsp;
                  (
                  <span id="{{ post.modal-id }}-slidenum"></span>
                  /
                  <span id="{{ post.modal-id }}-slidetotal"></span>
                  )
                  &nbsp;&nbsp;&nbsp;
                  <a onclick="updateSlide(1)">next&gt&gt</a>
              </p>
            </row>
            <div>                    
              <img src="" class="responsive img-centered" id="{{ post.modal-id }}-shownImage">
            </div>
            <!-- ============ TYPICAL DESCRIPTION STUFF ============ -->
            {% if post.description %}
            <p>{{ post.description }}</p>
            {% endif %}
            {% if post.more %}
            <p><a href="{{ site.url}}{{ post.url }}">Read the story here!</a></p>
            {% else %}
            <p></p>
            {% endif %}
            <ul class="list-inline item-details">
              {% if post.org %}
              <li>Organization:
                <strong>{{ post.org }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.loc %}
              <li>Location:
                <strong>{{ post.loc }}</strong>
              </li>
              {% endif %}
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<script>
  // Psuedocode:
  // - 2d array of [modal image locs][modal image path]
  function updateGalleryData(test) {
    image_dir = test.toString();
    console.log("in updateGalleryData");
    // var image_dir = ; 
    console.log("variable passed:"+test);
  }

  function updateSlide(n) {
    // update slide based on next (n=1) or previous (n=-1)
    console.log("in updateSlide. Active modal id is ",activeModalID);
    currentImage += n; //first defined in art_test.html 
    var shownImageID = activeModalID+"-shownImage";
    var slideTotalID = activeModalID+"-slidetotal";
    var slideNumID = activeModalID+"-slidenum";
    document.getElementById(shownImageID).src = activeImages[currentImage];
    document.getElementById(slideTotalID).innerHTML = numImages; //make slidelength into text
    document.getElementById(slideNumID).innerHTML = currentImage;
  }

  function clickedModal() {
    console.log("clicked on modal!");
  }

//   document.getElementById('myLink').addEventListener('click', function(event) {
//     event.preventDefault(); // Prevents the default action of the link
//     var clickedHref = this.getAttribute('data-value'); // Do something with the clicked value
//     console.log('Clicked value:', clickedHref);
// });

</script>
</html>