<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" class="index">
  {% include nav_test.html %}
  {% include header_project.html %}
  <!-- Project Page Content -->
  <section>
  <div class="container">
    <div class="row">
      {% if post.img %}
      <div class="col-lg-12 text-center">
          image:
          <img src="/img/portfolio/{{ post.img }}" alt="{{ post.alt }}">
      </div>
      {% endif %}
    </div>
    {{content}}
  </div>
  </section>
  <!-- TODO fix floating footer. Removed for now. -->
  {% include modals.html %}
  {% include js.html %}
</body>

</html>